#cabecalho {
    background-color: #333;
    color: #fffafa;
    padding: 20px;
    text-align: center;
}

.menu {
    background-color: #f1f1f1;
    padding: 20px;
    border: 10px solid #ccc;
    text-align: center
}



.menu-lista {
    list-style-type:none;
    margin: 0px;
    padding: 0;
}

.menu-lista li {
    display: inline-block;
    margin-right: 20px;
    background-color:#b0afaf;
    padding: 10px;
    border-radius: 50px;
    margin-bottom: 10px;
}

#item1{
    background-color: #30da39;
    padding: 10px;
    border-radius: 5px;
}

.menu-lista li a {
    color: #262121;
    text-decoration: none;
    font-size: 20px; 
    padding: 10px;
    border-radius: 5px;
    
    
}

.menu-lista li:hover{
    background-color: rgb(245, 129, 35);
    transition: 500ms;    
}

.menu-lista li a:active {
    color: #ffffff;
    transition: 500ms; 
    
}



#link1{
    color: #f81313;
    font-size: 20px;
}

.conteudo {
    padding: 20px;
    text-align: center;
}
[type="text"] {
    width: 100%;
    margin: 10px 10px;
    padding: 50px 20px;
    border: 10px solid #ccc;
    box-sizing: border-box; 
}

.exemplo {
    text-align: center;
    background-color: #ec1e1e;
    padding: 0px;
    margin: 10px 10px;
    border: 10px solid #ccc;
    box-sizing: border-box; 

}

.gallery{
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: 1fr 4fr 1fr;
    /* grid-template-columns: 30px 200px auto 100px; */
    grid-gap: 10px;
    padding: 10px;
    /* width: 100%; */
    /* margin: 10px 10px; */
    background-color: #f81313;    
}

.item{
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px 10px;
    background-color: #564e4e;    
}

.menu-novo{
    color: #f81313;
    transition: 500ms; 
    display: flex;
    gap: 10px;
}

.box {
    background-color: #fffafa;
    padding: 10px;
    border-radius: 100%;    
}
.box:hover{
    background-color: #a59e9e;
    transition: 500ms; 
}


.container-grid{
    display: grid;
    color: rgb(192, 42, 42);
    grid-template-columns: 200px auto;
    grid-template-rows: 70px auto;
    grid-template-areas: "header main" "aside main" "aside footer";
  }

  header{
    background-color: darkred;
    grid-area: header;
  }
  
  aside{
    background-color: darkgreen;
    grid-area: aside;
  }
  
  main{
    background-color: darkorange;
    grid-area: main;
    height: 200px;
  }
  
  footer{
    background-color: darkblue;
    grid-area: footer;
  }